*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background{
    background-image: url("../images/back.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
.loginForm {
    position: absolute;   /* required */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* correct way */
    display: grid;
}
