*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
  position: fixed;
  top: 350px;
  left: 0;
  z-index: 1000;
  padding: 5px 25px;
  transform: rotate(90deg) translate(0%, -100%);
  transform-origin: 0 0;
  border-radius: 5px 5px 0 0;

  ul{
    li{
      &:hover{
        font-weight: 600;
      }
    }
  }
}
